:root {
    --small_offset: 9px;
    --offset: 18px;
    --header_offset: 27px;
    --header_height: calc(20.8px + 2 * var(--offset));
}

body {
    margin: 0;
}

#page_name {
    display: inline-block;
    margin: var(--offset);
    font-size: large;
    /* 18+9+20.8+9+18=74.8 */
}

#header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background-color: white;
    z-index: 1000;
}

#content {
    margin-top: calc(var(--header_height) + var(--offset));
    margin-left: var(--offset);
    margin-right: var(--offset);
    margin-bottom: var(--offset);
    z-index: 1;
}

a {
    color: black;
    text-decoration: none;
}

span .katex {
    font-size: medium;
}

.pre {
    white-space: pre;
}

.prewrap {
    white-space: pre-wrap;
}


/* br {
    line-height: 10px;
} */