#flex-container {
    display: flex;
    width: 99%;
}

#preview-div {
    display: none;
    vertical-align: top;
}

#preview-text {
    display: inline-block;
    width: 100%;
    height: 265px;
    resize: vertical; 
    overflow: scroll;
    margin: 2px;
    border: 1px solid gray;
    padding: 2px;
}

/* when preview is shown */
.show-preview #definition-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    min-width: 20%;
}

.show-preview #definition-div textarea {
    width: 700px;
}

.show-preview #preview-div {
    display: inline-block;
    flex: 1;
    min-width: 20%;
}
