textarea {
    resize: both; 
    overflow: scroll;
    tab-size: 4;
}

textarea:focus {
    outline: none;
}

.id {
    width: 100px; 
    height: 32px;
    /* 32 for 1 line + scrollbar */
}

.name {
    width: 500px; 
    height: 47px;
    /* 47 for 2 lines + scrollbar */
}

#definition_div {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#definition_div textarea {
    width: 100%;
    height: 270px; 
    box-sizing: border-box;
    display: block;
}
