<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- CSS -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/preview.css' %}">
        <link rel="stylesheet" href="{% static 'css/term_form.css' %}">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">
        <!-- katex -->
        <link rel="stylesheet" href="{% static 'katex/katex.min.css' %}">
        <script src="{% static 'katex/katex.min.js' %}"></script>
        <script src="{% static 'katex/contrib/auto-render.min.js' %}"></script>
        <!-- definition render preview -->
        <script src="{% static 'js/preview.js' %}" defer></script>
        <!-- custom keys behaviour -->
        <script src="{% static 'js/custom_keys.js' %}" defer></script>
        <!-- popups -->
        <script src="{% static 'js/popup.js' %}" defer></script>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'summary_app:index' %}"><b id="page-name">Adding term</b></a>
            
            <div class="popup-container katex-popup">
                <div class="popup-mask"><b>K</b></div>
                <div class="popup-menu"><ul></ul></div>
            </div>
        </div>
        
        <div id="content">
            <form action="{% url 'summary_app:add_term' %}" method="post">
                {% csrf_token %}
                <label for="name-field">Term name:</label><br>
                <textarea id="name-field" class="pre" name="term_name" wrap="off" placeholder="Enter term name"></textarea><br>
                <br>

                <label for="type-field">Term type:</label><br>
                <select id="type-field" name="term_type">
                    {% for type in term_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <br><br>

                <div id="flex-container">
                    <div id="definition-div">
                        <label for="definition-field">Term definition (<input id="preview-checkbox" type="checkbox" unchecked>show preview):</label>
                        <br>
                        <textarea id="definition-field" class="pre custom-keys" name="term_definition" wrap="off" placeholder="Enter term definition">{{ term.definition }}</textarea>
                    </div>
                    
                    <div id="preview-div">
                        <text>Term definition preview:</text>
                        <br>
                        <span id="preview-text" class="pre">{{ term.definition|linebreaksbr }}</span>
                    </div>
                </div>
                <br>

                <input type="submit" value="Add term">
            </form>
        </div>

        <div id="footer">
            <a href="{% url 'summary_app:index' %}"><button>Home</button></a>
        </div>
    </body>
    <script>
        // clear filled forms on page refresh
        window.onload = function () {
            document.querySelector("form").reset()
        };
    </script>
</html>