<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        
        <!-- CSS -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/preview.css' %}">
        <link rel="stylesheet" href="{% static 'css/term_form.css' %}">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">

        <!-- katex -->
        <link rel="stylesheet" href="{% static 'katex/katex.min.css' %}">
        <script src="{% static 'katex/katex.min.js' %}"></script>
        <script src="{% static 'katex/contrib/auto-render.min.js' %}"></script>

        <!-- definition render preview -->
        <script src="{% static 'js/preview.js' %}" defer></script>

        <!-- custom keys behaviour -->
        <script src="{% static 'js/custom_keys.js' %}" defer></script>

        <!-- popup -->
        <script src="{% static 'js/popup.js' %}" defer></script>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'summary_app:index' %}"><b id="page_name">Adding term</b></a>
            
            <div class="popup_container katex_popup">
                <div class="popup_mask"><b>K</b></div>
                <div class="popup_menu"><ul></ul></div>
            </div>
        </div>
        
        <div id="content">
            <form id="form" action="{% url 'summary_app:add_term' %}" method="post">
                {% csrf_token %}

                <!-- "name" field -->
                <label for="name_field">Term name:</label><br>
                <textarea id="name_field" class="pre name" name="term_name" wrap="off" placeholder="Enter term name"></textarea><br>
                <br>

                <!-- "type" selection control -->
                <label for="type_field">Term type:</label><br>
                <select id="type_field" name="term_type">
                    {% for type in term_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select><br>
                <br>

                <!-- "definition" field -->
                <div id="definition_div">
                    <label for="definition_field">Term definition: (<input id="preview_checkbox" type="checkbox" unchecked>show preview):</label>
                    <br>
                    <textarea id="definition_field" class="pre custom_keys" name="term_definition" wrap="off" placeholder="Enter term definition"></textarea>
                    <br>
                </div>

                <!-- preview -->
                <div id="preview">
                    <text>Term definition preview:</text>
                    <br>
                    <!-- pre or prewrap? -->
                    <span id="preview_text" class="prewrap">{{ term.definition|linebreaksbr }}</span>
                </div>

                <input type="submit" value="Add term">
            </form>
        </div>
        <div id="footer">
            <a href="{% url 'summary_app:index' %}"><button>Home</button></a>
        </div>
    </body>
    <script>
        // clear filled forms on page refresh
        window.onload = function () {
            document.getElementById("form").reset()
        };
    </script>
</html>