<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        
        <!-- CSS -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/preview.css' %}">
        <link rel="stylesheet" href="{% static 'css/term_form.css' %}">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">

        <!-- katex -->
        <link rel="stylesheet" href="{% static 'katex/katex.min.css' %}">
        <script src="{% static 'katex/katex.min.js' %}"></script>
        <script src="{% static 'katex/contrib/auto-render.min.js' %}"></script>

        <!-- custom keys behaviour -->
        <script src="{% static 'js/custom_keys.js' %}" defer></script>

        <!-- definition render preview -->
        <script src="{% static 'js/preview.js' %}" defer></script>

        <!-- katex popup -->
        <script src="{% static 'js/katex_popup.js' %}" defer></script>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'summary_app:index' %}"><b id="page_name">Editing term {{ term.id }}</b></a>
            
            <div class="popup_container">
                <div class="clickable_element"><b>K</b></div>
                <div id="katex_popup" class="popup_menu"><ul></ul></div>
            </div>
        </div>

        <div id="content">
            <form action="{% url 'summary_app:modify_term' term.id %}" method="post">
                {% csrf_token %}

                <!-- "id" field -->
                <label for="id_field">Term id:</label><br>
                <textarea id="id_field" class="id" name="term_id" wrap="off" placeholder="Enter term id">{{ term.id }}</textarea><br>
                <br>

                <!-- "name" field -->
                <label for="name_field">Term name:</label><br>
                <textarea id="name_field" class="pre name" name="term_name" wrap="off" placeholder="Enter term name">{{ term.name }}</textarea><br>
                <br>

                <!-- "type" selection control -->
                <label for="type_field">Term type:</label><br>
                <select id="type_field" name="term_type">
                    {% for type in term_types %}
                        {% if term.type == type %}
                            <option value="{{ type }}" selected>{{ type }}</option>
                        {% else %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endif %}
                    {% endfor %}
                </select><br>
                <br>

                <!-- "definition" field -->
                <div id="definition_div">
                    <label for="definition_field">Term definition (<input id="preview_checkbox" type="checkbox" unchecked>show preview):</label>
                    <br>
                    <textarea id="definition_field" class="pre custom_keys" name="term_definition" wrap="off" placeholder="Enter term definition">{{ term.definition }}</textarea>
                    <br>
                </div>
                
                <!-- preview -->
                <div id="preview">
                    <text>Term definition preview:</text>
                    <br>
                    <span id="preview_text" class="pre">{{ term.definition|linebreaksbr }}</span>
                </div>
                <br>

                <input type="submit" value="Save changes">
                <!-- onclick="return confirm('Are you sure you want to save changes?')" -->
            </form>
        </div>
        <div id="footer">
            <a href="{% url 'summary_app:index' %}"><button>Home</button></a>
            <a href="{% url 'summary_app:read' term.id %}"><button>Cancel</button></a>
        </div>
    </body>
    <script>
        
    </script>
</html>