<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- CSS -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/for_templates/sequential.css' %}">
        <!-- katex -->
        <link rel="stylesheet" href="{% static 'katex/katex.min.css' %}">
        <script src="{% static 'katex/katex.min.js' %}"></script>
        <script src="{% static 'katex/contrib/auto-render.min.js' %}"></script>
        <script src="{% static 'js/render_katex.js' %}" defer></script>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'summary_app:index' %}"><b id="page-name">Sequential reading</b></a><br>
        </div>

        <div id="content">
            {% if term_list %}
                {% for term in term_list %}
                    {% if term.type == 'Section' %}
                        <h2>{{ term.name }}</h2>
                    {% else %}
                        <div class="term-div">
                            <u class="term-type">{{ term.short_type_2L }}</u>
                            <div class="term-text"> 
                                <b class="pre">{{ term.name }}</b>
                                <br>
                                <div>{{ term.definition }}</div>
                            </div>
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
            {% else %}
                <span>No terms yet.</span>
            {% endif %}
        </div>

        <div id="footer">
            <a href="{% url 'summary_app:index' %}"><button>Home</button></a>
        </div>
    </body>
    <script>

    </script>
</html>