<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        
        <!-- CSS -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/term_form.css' %}">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">
        
        <!-- katex -->
        <link rel="stylesheet" href="{% static 'katex/katex.min.css' %}">
        <script src="{% static 'katex/katex.min.js' %}"></script>
        <script src="{% static 'katex/contrib/auto-render.min.js' %}"></script>
    </head>
    <body>
        <div id="header">
            <a href="{% url 'summary_app:index' %}"><b id="page_name">Test page</b></a>
        </div>

        <div id="content">
            <!-- raw sql execution form -->
            <form action="{% url 'summary_app:execute_raw_sql' %}" method="post">
                {% csrf_token %}

                <label for="sql_field">Raw sql:</label>
                <br>
                <textarea id="sql_field" class="input name" name="sql_query" wrap="off" placeholder="Enter sql query">select id, name from summary_app_term</textarea>
                <br><br>
                <input type="submit" value="Execute">
            </form>
            <br>
            <div style="border: 1px solid red">
                <b>Execution result:</b>
                <br>
                <b>{{ result }}</b>
                <br><br>
                <b>x for x in result:</b>
                <ul style="margin: 0;">
                    {% if result %}
                        {% for x in result %}
                            <li><b>{{ x.name }}</b></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="footer">
            <a href="{% url 'summary_app:index' %}"><button>Home</button></a>
        </div>
    </body>
    <script>
        // document.getElementById("b").onclick = function () { alert(`Now: ${history.state}`); };
    </script>
</html>