span .katex {
    font-size: medium;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
}
.nav-buttons {
    display: flex;
    gap: 10px;
}