#terms-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#terms-list li:first-child {
    margin-top: 0;
}

#terms-list li:last-child {
    margin-bottom: 0;
}

.term-id {
    display: none;
}

.section {
    display: inline-block;
    margin: var(--small-offset) 0;
    border: 1px solid;
    border-left: 0px;
    /* border-top: 0px; */
    padding: var(--small-offset) var(--small-offset) var(--small-offset) 0;
}

/* swapping terms buttons */
.move-up, .move-down {
    display: none;
    cursor: pointer;
    background: #f9f9f9;
    margin: 0;
    /* margin-left: 5px; */
    border: 1px solid #ccc;
    padding: 2px 6px;
}

.move-up:hover, .move-down:hover {
    background: #e0e0e0;
}

#json-import-form {
    display: inline;
}

#json-file-input {
    display: none;
}

.show {
    display: inline;
}
