span .katex {
    font-size: medium;
}

#definition_form {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#definition_form textarea {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

#preview {
    width: 49%;
    display: none;
    vertical-align: top;
}

/* When preview is shown */
.show_preview #definition_form {
    width: 50%;
}

.show_preview #preview {
    display: inline-block;
}
